/target
/out
/cache
/coverage
lcov.info
.DS_Store
.vscode
.env

broadcast/*/31337
deployments/31337.md
deployments/json/31337.json

# Certora and Gambit cache
.certora_internal
collect.json
collection_failures.txt