[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
optimizer = true
optimize_runs = 999999
via_ir = true
solc = '0.8.21'
ffi = true
fs_permissions = [
  { access = "read", path = "script/config.json" },
  { access = "read-write", path = "output/deploy.json" },
]

[profile.intense.fuzz]
runs = 10000
max_test_rejects = 999999

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
